@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("https://images.unsplash.com/photo-1647175941406-5b89c16b3bb1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1926&q=80");
  overflow-x: none;
}
#country-dropdown{
  z-index: +10;
}
