@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-color: #F6FAF9;
  background-size: cover;
} */
 .scroll-bar::-webkit-scrollbar {
  width: 8px;
}
.scroll-bar::-webkit-scrollbar:horizontal {
  display: none;
}
 .scroll-bar::-webkit-scrollbar-track {
  background: #F1F5F9;
}
  
 .scroll-bar::-webkit-scrollbar-thumb {
  background-color: #CBD5E1;
  border-radius: 20px;
  overflow-x: none;
  /* border: 3px solid #666; */
}
